
{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Game Begin{% endblock %}</h1>
{% endblock %}

{% block content %}

<style>

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}
</style>

 <h1 style="text-align:center;">Game Begin</h1>
 
<form method="post">
<div class="center">
<p><input type="submit" name="newGame" value="Play Now"></p>

<form method="post">
<div class="center">
<p><input type="submit" name="statistics" value="View Personal Statistics"></p>
</form>

</div>
</body>
</html>
{% endblock %}