{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Game in Progress{% endblock %}</h1>
{% endblock %}

{% block content %}
<html>
<body>

<h3 style="text-align:left;">

    DEALER

    <span style="float:center;">

        PLAYER

    </span>
    
</h3>
<table style="width:100%">
  <tr>

    
    <td> 
    
    {% for card in dealerPartialHand %}
    <img src="{{url_for('static', filename=(card[0] + '_' + card[1] + '.jpg'))}}"; style="height:200px;">
	<img src="{{url_for('static', filename='CardBack.jpg')}}"; style="height:200px;">
   
    {% endfor %}
      </td>
    <td>
    {% for card in session['playerHand'] %}
      <img src="{{url_for('static', filename=(card[0] + '_' + card[1] + '.jpg'))}}"; style="height:200px;">
      
      {% endfor %}
    </td>
    
  </tr>


  <tr>
    <td style="color:	#c76fb5; font-size:160%">
    	Dealer Total: ? </td>
   	
   	<td style="color:	#c76fb5; font-size:160%">
    	Player Total: {{session['playerHandValue']}}</td>
  </tr>

</table>
<h2 style="text-align:left;">

  
    </span>
<style>
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}
</style>

<form method="POST">
<div class="center"><input type="submit" name="hit" value="HIT">

<form method="POST">
<div class="center"><input type="submit" name="stand" value="STAND">
</form>

</div>



</h2>

</body>

</html>


{% endblock %}
